.counter {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100px 50px;
    max-width: 60vw;
    margin: 4vh auto;
}

.counter-display {
    grid-column: 1 / 5;
    color: white;
    font-size: calc(10px + 10vmin);
    background: transparent;
    text-align: center;
    border: none;
    outline: none;
}
.counter-button-container {
    grid-column: 2 / 3;

}
.counter-button-container ~ .counter-button-container {
    grid-column: 3 / 4;
}
